:root {
  /*  Primary */
  --orange:#404c84;
  --pale-orange:#ffffff;

  /* Neutral */

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  /* with 75% opacity for lightbox background */
  --black: hsl(0, 0%, 0%);

  /* Pseudo element txt */
  --pseudo-text: "0";
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/*/////////////
Main CSS
 //////////////*/

body {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Use the full viewport height */
}

.body-wrapper {
  position: absolute;
  z-index: 50;
}

.overlay-container {
  display: none;
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.item-overlay {
  max-width: 50rem;
  padding-top: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.item-overlay__btn {
  align-self: flex-end;
  background: none;
  border: none;
  filter: invert(52%) sepia(14%) saturate(3126%) hue-rotate(344deg)
    brightness(107%) contrast(102%);
  cursor: pointer;
}

.item-overlay__mainImg {
  position: relative;
}

.item-overlay__img {
  align-self: center;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.overlay-btn {
  position: absolute;
  top: 50%;
  padding: 1.6rem 2rem;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
}

.item-overlay__btnlft-img {
  transform: rotate(180deg);
}

.overlay-btn:hover .overlay-btn__img {
  filter: invert(52%) sepia(14%) saturate(3126%) hue-rotate(344deg)
    brightness(107%) contrast(102%);
}

.item-overlay__btnlft {
  left: 0;
  transform: translateX(-50%);
}

.item-overlay__btnrgt {
  right: 0;
  transform: translateX(50%);
}

.overlay-img__btns {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.overlay-img__btn {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 10%;
  transition: all 0.3s;
  position: relative;
}

.overlay-img__btn::after {
  content: "";
  max-width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 10%;
  border: 3px solid transparent;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.overlay-img__btn:hover {
  background-color: var(--orange);
}

.overlay-img__btn:hover::after {
  border: 3px solid var(--#404c84);
  opacity: 0.5;
}

.overlay-img__btn-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  transition: all 0.3s;
  transform-origin: bottom;
}


.btn--orange {
  padding: 2rem 5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.item {
  padding: 0 3rem;
  max-width: 134rem;
  margin: auto;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 10rem;
}

.img-main {
  max-width: 100%;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 3.5rem;
}

.img-main__btn {
  display: none;
}

.img-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.img-btn {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 10%;
  transition: all 0.3s;
  position: relative;
}

.img-btn::after {
  content: "";
  max-width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 10%;
  border: 3px solid transparent;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.img-btn:hover {
  background-color: var(--orange);
}

.img-btn:hover::after {
  border: 3px solid var(--orange);
  opacity: 0.5;
}

.img-btn__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: 3px solid transparent;
  transition: all 0.3s;
  transform-origin: bottom;
}

.price {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.price-sub__heading {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--orange);
}

.price-main__heading {
  font-size: 5rem;
  font-weight: 600;
  margin-top: 8px;
}

.price-txt {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}

.price-box {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.price-box__main {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.price-box__main-new {
  font-size: 3.5rem;
  font-weight: 700;
  color: #404c84;
}

.price-box__main-discount {
  border: none;
  padding: 0.5rem 1.25rem;
  background-color: var(--pale-orange);
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: orange;
}

.price-box__old {
  font-size: 1.5rem;
  color: var(--grayish-blue);
  position: relative;
  margin-top: -10px;
}

.price-box__old::after {
  content: "";
  height: 1px;
  width: 9%;
  background-color: var(--grayish-blue);
  position: absolute;
  left: 0;
  top: 50%;
}

.price-btnbox {
  margin-top: 30px;
  margin-bottom: 20px;
}

.price-btnbox {
  display: flex;
  gap: 2.5rem;
}

.price-btns {
  width: 25%;
  padding: 1rem 1rem;
  border: none;
  background-color: var(--light-grayish-blue);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
}

.price-btn {
  border: none;
  background: none;
  cursor: pointer;
  height: 100%;
}

.price-btn__txt {
  font-size: 1.7rem;
  font-weight: 700;
}

.price-cart__btn {
  width: 50%;
  box-shadow: 0px 10px 25px 3px rgba(94, 89, 85, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 50px;
}

/* Attribution */
.attribution {
  margin-top: 7rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}



@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
  .head {
    max-width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .price {
    margin-top: 0.5rem;
  }
  .head {
    max-width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 850px) {
  .overlay-container {
    display: none;
    margin-top: 10px;
  }

  

  .item {
    padding: 0;
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .img {
    position: relative;
    margin:10px ;
  }

  .img-main {
    border-radius: 20px;
  }

  .img-main__btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem 2.6rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }

  .img-main__btn:hover .img-main__btn-img {
    filter: invert(52%) sepia(14%) saturate(3126%) hue-rotate(344deg)
      brightness(107%) contrast(102%);
  }

  .img-main__btnlft {
    left: 10%;
  }

  .img-main__btnlft-img {
    transform: rotate(180deg);
  }

  .img-main__btnrgt {
    right: 10%;
  }

  .img-btns {
    display: none;
  }

  .price {
    padding: 0 3rem;
  }

  .price-btnbox {
    display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .price-btns {
    padding: 3rem 5rem;
    width: 20%;
    margin-left: 10px;
  }

  .price-cart__btn {
    padding: 3rem 5rem;
    width: 60%;
    margin-right: 20px;
  }

  .price-box {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .price-box__old::after {
    width: 100%;
  }


  .choose-color{
    color: rgb(109, 109, 109);
    margin-top: 20px;
    font-size: 11px;
  }
  .choose-size{
    color: rgb(109, 109, 109);
    margin-top: 20px;
    font-size: 11px;
  }
  /* Cart */
  .head-cart {
    top: 10%;
    right: 15%;
  }
}


@media only screen and (max-width: 420px) {
  .price {
    gap: 3rem;
  }
  .price-txt {
    margin-top: 0;
  }
  .price-btnbox {
    margin-top: 0;
  }

  .price-main__heading {
    font-size: 3.5rem;
    margin-top: 4px;
  }

  .price-box__main-new {
    font-size: 3rem;
    color: #404c84;
  }


}


.open-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.preload * {
  transition: none !important;
}

.color-picker {
    display: flex;
    align-items: center;
}

.color-preview {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #ffffff;
    margin-left: 10px;
}

.color-options {
  display: flex;
  margin-top: 10px;
}

.color-box {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.color-box:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.choose-color{
  color: rgb(109, 109, 109);
  margin-top: 20px;
  font-size: 11px;
  font-weight: 500;
}
.choose-size{
  color: rgb(109, 109, 109);
  margin-top: 20px;
  font-size: 11px;
}


input[type="radio"] {
  display: none;
}
label {
  position: relative;
  color: #101010;
  font-size:10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.8em;
  
  padding: 0.5em 0.5em;
  border-radius: 1em;
  background-color: #eeeded;
}
label:before {
  content: "";
  border-radius: 50%;
  height: 1em;
  width: 1em;
  background-color: #ffffff;
  border: 1px solid #000;
}
.radio-btn{
  margin-top: 10px;
}

input[type="radio"]:checked + label:before {
  height: 1em;
  width: 1em;
  background-color: #000985;
  border: 1px solid #ffffff;
}

input[type="radio"]:checked + label {
  background-color: #dceefb;
  color: #012c64;
}
#color1 {
  background-color: #ECDECC;
}

#color2 {
  background-color: #BBD278;
}

#color3 {
  background-color: #BBC1F8;
}

#color4 {
  background-color: #FFD3F8;
}

.line {
  border-top: 0.5px solid #e8e2e2; /* Gray line */
  margin: 10px 0; /* Adjust margin as needed */
}

#description{
  margin-top: 40px;
}
#message{
  background-color:#E7F8B7;
  padding: 5px;
  display: flex;
  justify-items: center;
  border-radius: 10px;
  margin-left: 9%;
  margin-right: 13%;
  font-weight: 600;
  font-size: 10px;
}